<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="public/login.css">
    <link rel="stylesheet" href="public/animate.css">
    <script type="text/javascript" src="public/javaScript/login.js"></script>
  </head>
  <body>
    <div id="top">Sam's chat</div>
    <div id="authorization">
      <p>Please login to use chat</p>
      <input type="text" id="login" placeholder="Login">
      <input type="password" id="password" placeholder="Password">
      <div id="buttons">
        <div id="anchors">
          <a href="passrestore">Forgot password?</a>
          <a id="registration">Registration</a>
        </div>
        <input type="button" id="submit" value="Log in">
      </div>
    </div>
  </body>
</html>
